@import "../style/colors";
@import "../style/mixins/widgetFrame";
@import "../style/buttons";
@import "../style/checkbox";
@import "../Widget/Widget";

$login-form-transition: all 0.3s;

.form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-page-background;
}

.login-widget.widget {
  margin: 50px auto 0;
  width: 90%;
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .widget-title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .widget-content {
    text-align: center;
  }
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-label {
  text-align: center;
  font-family: Chakra Petch, sans-serif;
  text-transform: uppercase;
  color: $color-widget-text;
  cursor: text;
  font-size: 16px;
  line-height: 16px;
  transform: translateY(-26px);
  transition: $login-form-transition;
  letter-spacing: 3px;
}

.name-input {
  background-color: transparent;
  padding: 5px 20px;
  width: 200px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $color-widget-border;
  font-size: 28px;
  font-family: Chakra Petch, sans-serif;
  color: $color-widget-text;
  text-align: center;
  transition: $login-form-transition;

  &:focus,
  &.valid {
    max-width: 90%;
    width: 260px;
  }

  &:focus + .name-label,
  &.valid + .name-label {
    color: $color-widget-text-secondary;
    font-size: 12px;
    transform: translateY(-64px);
  }
}

.confirm-wrapper {
  cursor: pointer;
  display: flex;
  margin-top: 20px;
}

.confirm-checkbox {
  @extend %checkbox;
}

.confirm-label {
  display: inline;
  font-family: Chakra Petch, sans-serif;
}

.login-form-button {
  @extend %button-primary;
  margin-top: 40px;
  width: 300px;
}
