@import "../style/colors";
@import "../style/mixins/widgetFrame";

.widget {
  background: linear-gradient(
      0deg,
      $color-widget-bg 0%,
      $color-widget-bg-dark 50%,
      $color-widget-bg 100%
  );
  padding: 20px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  color: $color-widget-text;
  display: flex;
  flex-direction: column;

  &:before {
    @include widgetFrame(90%, -5px, (top left));
  }

  &:after {
    @include widgetFrame(90%, -5px, (bottom right));
  }

  p {
    margin: 0;
  }
}

.widget-title {
  color: $color-widget-header;
  font-family: Chakra Petch, sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
  margin: 0 0 5px;
}
