@import "../style/colors";
@import "../style/mixins/widgetFrame";

$widget-background: transparentize($color-widget-bg, 0.08);
$widget-background-dark: transparentize($color-widget-bg-dark, 0.08);

.widget {
  background: linear-gradient(
      0deg,
      $widget-background 0%,
      $widget-background-dark 50%,
      $widget-background 100%
  );
  padding: 20px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  color: $color-widget-text;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 120px 20px $color-widget-shadow;

  &:before {
    @include widgetFrame(90%, -5px, (top left));
  }

  &:after {
    @include widgetFrame(90%, -5px, (bottom right));
  }

  p {
    margin: 0;
  }
}

.widget-title {
  color: $color-widget-header;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0 0 5px;
}
