$color-widget-bg: #6dcdfb36;
$color-widget-bg-dark: #7b91ff2e;
$color-widget-border: #53a6ffb3;
$color-widget-header: #fff;
$color-widget-text: #ffffffdd;
$color-widget-text-secondary: #b5b5b5;
$color-page-background: #0c011a;
