$color-greyed-blue: #6dcdfb36;
$color-greyed-blue-dark: #7b91ff2e;
$color-button-bg: #6b6e7d2e;
$color-button-bg-hover: #70a7ab2e;
$color-widget-bg: #212B49;
$color-widget-bg-dark: #201A42;
$color-widget-shadow: #1f0540;
$color-widget-border: #53a6ffb3;
$color-widget-header: #fff;
$color-widget-text: #ffffffdd;
$color-widget-text-secondary: #b5b5b5;
$color-page-background: #0c011a;
