.page-content {
  display: flex;
  align-items: flex-start;
}

.absorption-img {
  width: 350px;
}

.absorption-label {
  font-family: Chakra Petch, sans-serif;
  font-size: 20px;
  margin-left: 40px;
}
