.in-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .widgets-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .left-widgets-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .in-game-widget {
    &.server-statistics-widget {
      width: 245px;
    }
  }
}
