.in-game {
  display: flex;
  justify-content: space-between;

  .left-widgets-wrapper {
    display: inline-flex;
    flex-direction: column;
  }

  .in-game-widget {
    margin: 0 0 10px 0;

    &.server-statistics-widget {
      width: 245px;
    }
  }
}
