.page-content {
  display: flex;
  align-items: flex-start;
}

.zones-img {
  width: 350px;
}

.zones-description {
  font-family: Chakra Petch, sans-serif;
  font-size: 19px;
  margin-left: 40px;
}

.zones-list {
  margin: 10px 0;
}

.zones-label {
  padding-top: 10px;
}
